/* Coolors Exported Palette - coolors.co/2355cd-f03a47-b7ad99-fdfffc-1c1c1c */

/* HSL */
$color1: hsla(222%, 71%, 47%, 1);
$color2: hsla(356%, 86%, 58%, 1);
$color3: hsla(40%, 17%, 66%, 1);
$color4: hsla(100%, 100%, 99%, 1);
$color5: hsla(0%, 0%, 11%, 1);

/* RGB */
$color1: rgba(35, 85, 205, 1);
$color2: rgba(240, 58, 71, 1);
$color3: rgba(183, 173, 153, 1);
$color4: rgba(253, 255, 252, 1);
$color5: rgba(28, 28, 28, 1);